<html>
    <head>
     <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
    <h1>{{ title }}</h1>
    {% block content %}
    {% endblock %}
    <footer><a href="/library">Library</a> | <a href="http://www.abebooks.com">Abebooks</a> | <a href="https://www.github.com/LidzDev">Lydia's github</a> | <a href="https://www.github.com/LidzDev/CC-W3-D5-lab">This project on Github</a> </footer>
    </body>
</html>