{% extends "base.jinja" %} {% block content %}
{% for book in books %}
    <ul>
        <li>{{book.title}} by {{book.author}}, genre: {{book.genre}}</li>
    </ul>
{% endfor %} 

<form action="/lirary" method="post">
<label for="title">Title</label>
</form>
{% endblock %}
